.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-home-link {
    color: #fff;
    text-decoration: none;
    padding: 4px;
}

.nav-home-link:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    border-radius: 4px;
    color: #6441A4;
}